<section id="contact" class="contact">
    <div class="backcon">
        <h1 class=" glitch layers" data-text="CONTACT US">CONTACT US</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias temporibus omnis expedita sit error ipsa illo facilis dolorem corrupti nostrum excepturi consequuntur autem cumque et velit, tempore earum magni explicabo.</p>
    </div>

    <ul class="menu_contact">
        <li><a class="xl" href="">CODEPEN</a> <a class="xs" href=""><img src="assets/img/codepen.png" alt=""></a></li>
        <li><a class="xl" href="">LINKEDIN</a> <a class="xs" href=""><img src="assets/img/linkedin.png" alt=""></a></li>
        <li><a class="xl" href="">GITHUB</a> <a class="xs" href=""><img src="assets/img/github.png" alt=""></a></li>
        <li><a class="xl" href="">TWITTER</a> <a class="xs" href=""><img src="assets/img/gorjeo.png" alt=""></a></li>
    </ul>
</section>