.contact{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 20%;
}

.backcon{
    position: relative;
    z-index: 2;
    color: #ffffff;
    width: 60%;
    margin-left: auto; 
    margin-right: auto;
}

.backcon h1{
    font-size: 300%;
    text-align: center !important;
    filter: drop-shadow(0 1px 3px);
}

.backcon p{
    text-align: center;
	 font-size: 100%;
}

.menu_contact{
    position: relative;
    width: 80%;
    z-index: 2;
    display: inline-block;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
    place-items: center;
    left: 50% ;
    transform: translateX(-50% );
}

.menu_contact li{
    display: inline-block;
    padding: 1%;
}

.menu_contact li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5vh;
    font-weight: bold;
    transition: 1s;
}

.menu_contact li a:hover{
    color: #AB4A58;	
}

.menu_contact li a img{
    width: 100%;
    display: inline-block;
}

@media screen and (min-width: 800px) {
    .xl{
      display: block;
    }

    .xs{
      display: none;
    }
  }

  @media screen and (max-width: 790px) {
    .xs{
      display: block;
    }

    .xl{
      display: none;
    }
    
    .menu_contact li{
        display: inline-block;
        padding: 1%;
        width: 10%;
    }

  }

@media screen and (max-width: 800px) {

    .contact{
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 20%;
    }

    .backcon p{
        text-align: justify;
        font-size: 100%;
    }

    .backcon{
        width: 80%;
    }

    .backcon h1{
        font-size: 200%;
        text-align: justify !important;
        filter: drop-shadow(0 1px 3px);
    }
}