<section id="service" class="service">
    <div class="backser" align="center">
        <div class="dev">
            <h2 data-text="DEVELOPER" class="titulo_1 hero glitch layers">DEVELOPER</h2>
            <p class="parrafo_1">We are a company with various computer skills, with hybrid and adaptable profiles, to improve processes, through various languages ​​and programmable technologies.</p>
        </div>
        <div class="mar">
            <h2 data-text="MARKETING" class="titulo_2 hero glitch layers">MARKETING</h2>
            <p class="parrafo_2">Our team specializes in the best orientation towards our clients, helping them to obtain their benefits in the short and long term, in order to reach a broader market through advertising strategies, creation of digital content for social networks at a professional level.</p>
        </div>
        <div class="dibu">
            <h2 data-text="INDUSTRIAL
             DESIGN" class="titulo_3 hero glitch layers">INDUSTRIAL <br> DESIGN</h2>
            <p class="parrafo_3">we are experts in manufacturing processes, thus dominating the different software platforms for a better result.</p>
        </div>
    </div>
</section>