<section id="we-are" class="backweare">
  <div class="weback">
    <div class="we">
      <ul>
        <li data-text="WE" class="hero glitch layers">WE</li>
        <li data-text="ARE" class="are  glitch layers">ARE</li>
      </ul>
    </div>
  
    <div class="wep">
      <p>
        We are a Mexican company focused on technological innovation and creativity, we create interfaces, software development, 3d modeling and rendering. We have efficient processes for better performance, implementation of strategies UX and UI design.
      </p>
      <button><a href="#profile">ARE</a></button>
    </div>
  </div>
</section>