<section class="header"> 
    <div class="backlogo">
        <a href="#home" data-text="W/G" class="hero glitch layers">W/G</a>
    </div>
    
    <ul class="menu_header">
        <li class="menu_i_header"><a href="#home" class="menu_i_tx_header">HOME</a></li>
        <li class="menu_i_header"><a href="#we-are" class="menu_i_tx_header">WE ARE</a></li>
        <li class="menu_i_header"><a href="#service" class="menu_i_tx_header">SERVICES</a></li>
        <li class="menu_i_header"><a href="#profile" class="menu_i_tx_header">PROFILE</a></li>
    </ul>
</section>

<section id="home" class="backwg">
    <div class="wg">
        <div class="hero-container">
            <h2 class="hero glitch layers" data-text="WOLVES"><span>WOLVES</span></h2>
            <h2 class="hero glitch layers rot" data-text="GROUP"><span>GROUP</span></h2>
        </div>
    </div>
    <div class='mouse-container'>
        <div class='mouse'>
          <span class='scroll-down'></span>
        </div>
      </div>
</section>

<section id="we-are" class="backweare">
    <div class="weback">
      <div class="we">
        <ul>
          <li data-text="WE" class="hero glitch layers">WE</li>
          <li data-text="ARE" class="are  glitch layers">ARE</li>
        </ul>
      </div>
    
      <div class="wep">
        <p>
          We are a Mexican company focused on technological innovation and creativity, we create interfaces, software development, 3d modeling and rendering. We have efficient processes for better performance, implementation of strategies UX and UI design.
        </p>
        <button><a href="#profile">ARE</a></button>
      </div>
    </div>
</section>

<section id="service" class="service">
    <div class="backser" align="center">
        <div class="dev">
            <h2 data-text="DEVELOPER" class="titulo_1 hero glitch layers">DEVELOPER</h2>
            <p class="parrafo_1">We are a company with various computer skills, with hybrid and adaptable profiles, to improve processes, through various languages ​​and programmable technologies.</p>
        </div>
        <div class="mar">
            <h2 data-text="MARKETING" class="titulo_2 hero glitch layers">MARKETING</h2>
            <p class="parrafo_2">Our team specializes in the best orientation towards our clients, helping them to obtain their benefits in the short and long term, in order to reach a broader market through advertising strategies, creation of digital content for social networks at a professional level.</p>
        </div>
        <div class="dibu">
            <h2 data-text="INDUSTRIAL
             DESIGN" class="titulo_3 hero glitch layers">INDUSTRIAL <br> DESIGN</h2>
            <p class="parrafo_3">we are experts in manufacturing processes, thus dominating the different software platforms for a better result.</p>
        </div>
    </div>
</section>

<section id="profile" class="profile">
    <div class="backprof" align="center">
        <h2 data-text="PROFILE" class="hero glitch layers per">PROFILE</h2>
        <div class="glitch_prof_img">
            <div class="glitch-img"></div>
            <div class="glitch-img"></div>
            <div class="glitch-img"></div>
            <div class="glitch-img"></div>
            <div class="glitch-img"></div>
        
        </div>
        <h2 data-text="DEVELOPER" class="hero glitch layers dos">DEVELOPER</h2>
        <h2 data-text="DEVELOPER" class="hero glitch layers uno">CREATIVE</h2>
        <h2 class="tres">We develop customized systems and applications based on the needs of your company, we optimize processes for greater efficiency by increasing the use of design and user interface.</h2>
    </div>
</section>

<section id="contact" class="contact">
    <div class="backcon">
        <h1 class=" glitch layers" data-text="CONTACT US">CONTACT US</h1>
        <p>Saltillo Coah, mx <br> wolves.group.info@gmail.com</p>
    </div>

    <ul class="menu_contact">
        <li><a class="xl" href="">CODEPEN</a> <a class="xs" href=""><img src="assets/img/codepen.png" alt=""></a></li>
        <li><a class="xl" href="">LINKEDIN</a> <a class="xs" href=""><img src="assets/img/linkedin.png" alt=""></a></li>
        <li><a class="xl" href="">GITHUB</a> <a class="xs" href=""><img src="assets/img/github.png" alt=""></a></li>
        <li><a class="xl" href="">TWITTER</a> <a class="xs" href=""><img src="assets/img/gorjeo.png" alt=""></a></li>
    </ul>
</section>

<section class="footer">
    <ul class="menu">
        <li class="menu_i"><img src="assets/img/facebook.png" alt=""></li>
        <li class="menu_i"><img src="assets/img/instagram.png" alt=""></li>
        <li class="menu_i"><a href="https://api.whatsapp.com/send?phone=+528445502419"><img src="assets/img/whatsapp.png" alt=""></a></li>
        <li class="menu_i"><a href="#contact" class="menu_i_tx">CONTACT</a></li>
    </ul>    
</section>