<section id="profile" class="profile">
    <div class="backprof" align="center">
        <h2 data-text="PROFILE" class="hero glitch layers per">PROFILE</h2>
        <div class="glitch_prof_img">
            <div class="glitch-img"></div>
            <div class="glitch-img"></div>
            <div class="glitch-img"></div>
            <div class="glitch-img"></div>
            <div class="glitch-img"></div>
        
        </div>
        <h2 data-text="DEVELOPER" class="hero glitch layers dos">DEVELOPER</h2>
        <h2 data-text="DEVELOPER" class="hero glitch layers uno">CREATIVE</h2>
        <h2 class="tres">We develop customized systems and applications based on the needs of your company, we optimize processes for greater efficiency by increasing the use of design and user interface.</h2>
    </div>
</section>